*{
	font-family: 'Garamond', sans-serif;
	padding: 0;
	margin: 0;
}
body{
	background-color: #bab095;
}
#container{
	width: 960px;
	margin: 0 auto;
}
#header{
	padding-bottom: 30px;
}
#header nav h1{
	color: #4d140c;
	font-size: 50px;
	text-align: center;
}
#header nav h1 span{
	font-size: 50px;
	color: black;
	text-shadow: 1px 1px gray;
}
#header nav ul{
	text-align: center;
	list-style-type: none;
	border-radius: 20px;
}
#header nav ul li{
	display: inline-block;
}
#header nav ul li a{
	font-size: 30px;
	padding: 5px;
	text-decoration: none;
	color: #4d140c;
}
#header nav ul li a:hover{
	color: gray;
	text-shadow: 1px 1px black; 
}
#header nav ul li a.active{
	color: snow;
	text-shadow: 1px 1px black;
}
#content{
	width: 694px;
	float: left;
	border: 2px solid black;
	border-radius: 30px;
	margin-right: 10px;
	background-color: snow;
}
#menu{
	width: 230px;
	float: left;
	background-color: snow;
	border: 1px solid black;
	border-radius: 30px;
}
#menu h2{
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
	font-family: "Impact";
	color: #4d140c;
}
#menu ul{
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: justify left;
	list-style-type: none;
	margin-left: 30px;
}
#menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 30px;
}#menu ul li a:hover{
	color: gray;
}