*{
	margin: 0;
	padding: 0;
	font-family: 'Garamond', sans-serif;
}
#title h1{
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px silver;
	color: #4d140c;
	font-family: "Impact";
	margin-left: 50px;
	margin-right: 50px;
	border-bottom: 1px solid gray;
}
#form-group{
	margin-right: 40px;
	margin-left: 40px;
}
#form-group .form{
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 25px;
	text-align: center;
	box-shadow: 10px 5px 2px gray;
}
#form-group .form h4{
	color: gray;
	text-shadow: 1px 1px black;
	font-size: 30px;
}
#form-group .form h2 a{
	color: black;
	text-decoration: none;
}
#form-group .form h2 a:hover{
	color: gray;
}
#form-group .form h2 a:visited{
	color: silver;
}
#form-group .form h2 a:visited:hover{
	color: silver;
	color: gray;
}