{% extends "Home.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Prijava!</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/ForumLoginPage.css' %}">
</head>
<body>
		<div id="title">
			<h1>Prijava:</h1>
		</div>
		<div id="form-group">
			<form method="POST">
				{% csrf_token %}
				<p>
					<label for="id_username">Korisničko ime:</label><br> 
					<input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
				</p>
				<p>
					<label for="id_password">Lozinka:</label><br>
					<input type="password" name="password" autocomplete="current-password" required id="id_password">
				</p>
				<div id="submit">
					<button type="submit">Prijava!</button>
				</div>
			</form>
		</div>
</body>
</html>

{% endblock content %}